[defaults]
inventory                = inventory/hosts.yml
roles_path               = roles
collections_path         = collections
host_key_checking        = False
stdout_callback          = yaml
callback_result_format   = yaml
callbacks_enabled        = profile_tasks, json
forks                    = 20
timeout                  = 60
retry_files_enabled      = False
interpreter_python       = auto_silent
gathering                = smart

[ssh_connection]
pipelining               = True
ssh_args                 = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=20

[persistent_connection]
command_timeout          = 60
